 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/simon-lee-WK5uLckIjRo-unsplash.png");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 196px;
  height: 50px;
  margin: 80px calc(((100% - 1920px) / 2) + 107px) 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin: 123px auto 0 calc(((100% - 1920px) / 2) + 611px);
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 9.6875rem;
  font-family: Roboto, sans-serif;
  margin: 86px auto 0 calc(((100% - 1920px) / 2) + 562px);
}

.u-section-1 .u-image-2 {
  width: 206px;
  height: 58px;
  margin: 120px auto 0 calc(((100% - 1920px) / 2) + 857px);
}

.u-section-1 .u-image-3 {
  width: 90px;
  height: 108px;
  margin: 131px auto 0 calc(((100% - 1920px) / 2) + 915px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1920px) / 2) + 597px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-family: "Noto Sans SC";
    font-size: 1.5625rem;
    width: auto;
    margin-top: 218px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.125rem;
    font-family: "Goudy Bookletter 1911";
    width: auto;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 123px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1920px) / 2) + 797px);
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1920px) / 2) + 857px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1920px) / 2) + 840px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 242px;
  height: 61px;
  margin: 262px auto 0 calc(((100% - 1920px) / 2) + 839px);
}

.u-section-2 .u-image-2 {
  width: 326px;
  height: 58px;
  margin: 117px auto 60px;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-size: 1.75rem;
  margin: -350px auto 60px;
}

.u-section-2 .u-image-3 {
  width: 47px;
  height: 279px;
  margin: -251px auto 0 calc(((100% - 750px) / 2) + 57px);
}

.u-section-2 .u-image-4 {
  width: 47px;
  height: 279px;
  margin: -279px calc(((100% - 750px) / 2) + 57px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 698px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1070px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 202px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 536px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-family: "Noto Sans SC";
    margin-top: -484px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 57px);
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 57px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 57px);
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 57px);
  }
} .u-section-3 {
  background-image: url("images/m_BG.png");
  background-position: 50% 50%;
}

.u-section-3 .u-image-1 {
  width: 321px;
  height: 103px;
  margin: 183px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.75rem;
  font-family: "Noto Sans SC";
  margin: 20px auto 0;
}

.u-section-3 .u-image-2 {
  width: 392px;
  height: 58px;
  margin: -58px calc(((100% - 1920px) / 2) + 548px) 0 auto;
}

.u-section-3 .u-image-3 {
  width: 630px;
  height: 313px;
  margin: -1074px auto 0;
}

.u-section-3 .u-image-4 {
  width: 630px;
  height: 313px;
  margin: -646px auto 0;
}

.u-section-3 .u-image-5 {
  width: 630px;
  height: 313px;
  margin: 353px auto 0;
}

.u-section-3 .u-image-6 {
  width: 630px;
  height: 313px;
  margin: 20px auto 60px;
}

.u-section-3 .u-image-7 {
  width: 400px;
  height: 58px;
  margin: 63px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1920px) / 2) + 497px);
    margin-right: calc(((100% - 1920px) / 2) + 497px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 543px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2214px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 200px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 400px;
    margin-top: 1511px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -1188px;
  }

  .u-section-3 .u-image-4 {
    height: 312px;
    margin-top: -645px;
  }

  .u-section-3 .u-image-6 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1414px;
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 268px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 267px;
    margin-top: -600px;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 268px;
  }

  .u-section-3 .u-image-6 {
    width: 540px;
    height: 268px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1010px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 49px;
    margin-top: 310px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 169px;
    margin-top: -1179px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 168px;
    margin-top: -501px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 169px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 169px;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 49px;
  }
} .u-section-4 {
  background-image: url("images/guidebook-bg.png");
  background-position: 50% 50%;
}

.u-section-4 .u-image-1 {
  width: 356px;
  height: 131px;
  margin: 222px auto 0;
}

.u-section-4 .u-image-2 {
  width: 288px;
  height: 58px;
  margin: 167px auto 60px;
}

.u-section-4 .u-text-1 {
  font-family: "Noto Sans SC";
  width: auto;
  margin: -1121px auto 0 calc(((100% - 750px) / 2) + 43px);
}

.u-section-4 .u-text-2 {
  font-family: "Noto Sans SC";
  width: auto;
  margin: 165px auto 0 calc(((100% - 750px) / 2) + 43px);
}

.u-section-4 .u-image-3 {
  width: 630px;
  height: 439px;
  margin: 77px auto 60px;
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1798px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 1154px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
    font-weight: 500;
    margin-top: -1212px;
    margin-left: calc(((100% - 750px) / 2) + 32px);
  }

  .u-section-4 .u-text-2 {
    font-size: 1.625rem;
    margin-top: 60px;
    margin-left: calc(((100% - 750px) / 2) + 32px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1232px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 32px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 32px);
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 376px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1087px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 125px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 237px;
  }
} .u-section-5 {
  min-height: 1606px;
}

.u-section-5 .u-image-1 {
  width: 345px;
  height: 103px;
  margin: 195px auto 0;
}

.u-section-5 .u-text-1 {
  font-family: "Noto Sans SC";
  font-size: 1.75rem;
  margin: 0 auto;
}

.u-section-5 .u-image-2 {
  width: 630px;
  height: 401px;
  margin: 30px auto 0;
}

.u-section-5 .u-image-3 {
  width: 630px;
  height: 400px;
  margin: 30px auto 0;
}

.u-section-5 .u-image-4 {
  width: 398px;
  height: 58px;
  margin: 70px auto 0;
}

.u-section-5 .u-image-5 {
  width: 398px;
  height: 58px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1492px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 344px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 343px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1221px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 101px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 217px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 216px;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 50px;
  }

  .u-section-5 .u-image-5 {
    width: 340px;
    height: 50px;
  }
} .u-section-6 {
  background-image: url("images/m_BG-1.png");
  background-position: 50% 50%;
  min-height: 1307px;
}

.u-section-6 .u-image-1 {
  width: 321px;
  height: 103px;
  margin: 89px auto 0 calc(((100% - 1920px) / 2) + 75px);
}

.u-section-6 .u-text-1 {
  font-family: "Noto Sans SC";
  font-size: 1.75rem;
  margin: 0 calc(((100% - 1920px) / 2) + 1142px) 60px calc(((100% - 1920px) / 2) + 75px);
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 640px;
  }

  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1434px;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1032px;
  }

  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 650px;
  }

  .u-section-6 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}